<div class="col-xs-3">
  <h9 style="border-bottom: 1px solid silver; margin-bottom: 10px;">Genre</h9>
    <div class="row">
      <% @parents.each do |parent| %>
      <div class="row" style="margin-left: 10px; padding-bottom: 5px;">
            <%= link_to genre_show_path(parent.id) do %>
            <h3><%= parent.name %> >></h3>
            <% end %>
          </div>
            <% parent.children.each do |child| %>
              <div class="row" style="margin-left: 10px; padding-bottom: 5px; padding-left: 50px;">
                <%= link_to genre_show_path(child.id) do %>
                <%= child.name %>
                <% end %>
              </div>
            <% end %>
      </div>
    </div>
