<!DOCTYPE html>
<html>
  <head>
    <title>漫画レビュー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
  </head>



    <body>
        <div class="about_title">
         about
        </div>

        <div class="about-s">
         現在プログラマー を目指しています。<br>
         ポートフォリオでこちらのWEBアプリケーションを作成いたしました。<br>
         元々漫画が好きで漫画読む際にレビューや口コミなどを見て読む漫画を決めていたので<br>
         漫画のレビューサイトを作成いたしました。
        </div>

        <div class="about">
         name : kazuya.s
        </div>
    </body>
    <h3></h3><h3></h3>
</html>